# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!/config/**
!/scripts/**
!/resources/**
!/oresources/**
!/structures/**
!/patchouli_books/**
# You can be specific with these rules
!.gitignore 
config/jei/worldSettings.cfg
config/fantasticlib/reference
config/.DS_Store
config/loliasm/methods-stable_39.csv
