# Configuration file

~CONFIG_VERSION: 0.1.0

world-1563834182 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wight
    B:overlayEnabled=true
}


world-266672224 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@natu
    B:overlayEnabled=true
}


world-281553133 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=disp
    B:overlayEnabled=true
}


world-297201131 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@custom
    B:overlayEnabled=true
}


world-334562451 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=magnet
    B:overlayEnabled=true
}


world-476994168 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wight
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-808793149 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=book
    B:overlayEnabled=true
}


world-877171675 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@recur
    B:overlayEnabled=true
}


world1257317101 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@quark
    B:overlayEnabled=true
}


world1395925325 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=syrm
    B:overlayEnabled=true
}


world1426031936 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=guide
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1612121720 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wight
    B:overlayEnabled=true
}


world2257563 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=stalker
    B:overlayEnabled=true
}


world236997330 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wight
    B:overlayEnabled=true
}


world322124512 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=crag
    B:overlayEnabled=true
}


world322279394 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=lurker
    B:overlayEnabled=true
}


world323095693 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world324012160 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=lamp

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world353482504 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=ladder
    B:overlayEnabled=true
}


world3556498 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world726293763 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=false

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=relay

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world772665266 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wight
    B:overlayEnabled=true
}


