# Configuration file

general {
    # Disables the scabyst crushing recipe for modpack creators
    # Requires a game restart to take effect
    B:disableMortarRecipe=true
    B:scabystExclusivity=false

    # Whether or not slime blocks are sticky and will attach to other blocks when being pushed by a mud brick piston.
    # (If false they will be treated like normal blocks, if true they act normally)
    B:slimeBlocksWorkOnScabystPistons=true
}


