# Configuration file

general {
    I:TCPotionChance=5

    configtea {
        D:FocusedBuffBonus=0.800000011920929
        D:GreeblingBonus=0.5
        D:NearbyBlocksBonus=0.8999999761581421

        # Does the player need to have the thaumonomicon and scribing tools in their inventory?
        B:RequiresBookAndQuill=true
        D:SittingBonus=0.8999999761581421

        # Chance that tea gives research point
        I:TCPotionChance=100
        S:eventBonuses <
            heavy_rain,1.1
            auroras,0.9
         >
    }

    configgeneral {
        I:BarrelFillWithWaterAmount=10
        I:BarrelFillWithWaterChance=300
        S:FluxItems <
            thebetweenlands:syrmorite_ore:0,pyrotech:generated_pile_slag_syrmorite:0
            thebetweenlands:octine_ore:0,pyrotech:generated_pile_slag_octine:0
            betweenores:aluminum_ore:0,pyrotech:generated_pile_slag_aluminum:0
            betweenores:copper_ore:0,pyrotech:generated_pile_slag_copper:0
            betweenores:lead_ore:0,pyrotech:generated_pile_slag_lead:0
            betweenores:nickel_ore:0,pyrotech:generated_pile_slag_nickel:0
            betweenores:silver_ore:0,pyrotech:generated_pile_slag_silver:0
            betweenores:tin_ore:0,pyrotech:generated_pile_slag_tin:0
         >
        I:MothHouseProductionSpeed=500
        S:RedstoneOreBlock=minecraft:redstone_ore
        I:SmokingRackRecipeModifier=6
        I:SulfurExplosionChance=5
        I:SulfurExplosionDamage=4
        I:WaterFilterAmount=1
        I:WaterFilterLootChance=200
        I:WaterFilterSpeed=50
    }

    configautomapping {
        B:AutoMapCragrockTower=true
        B:AutoMapGiantWeedwoodTree=true
        B:AutoMapIdolHeads=true
        B:AutoMapMenhir=true
        B:AutoMapSludgeon=true
        B:AutoMapSpiritTree=true
        B:AutoMapWightFortress=true
    }

    configsanity {
        D:sanity_chance_sounds <
            0.0
            0.0
            0.1
            0.6
            0.8
         >
        I:sanity_cooldown_sounds=400
        S:sanity_lightseeker_blacklist <
            thebetweenlands:tree_portal
            pyrotech:bloomery
            arcanearchives:lectern_manifest
            arcanearchives:gemcutters_table
         >
        S:sanity_sounds_list <
            thebetweenlands:wight_hurt
            thebetweenlands:wight_moan
            thebetweenlands:swamp_hag_living
            thebetweenlands:ambient_cave_spook
            thebetweenlands:ashsprite_living
            thebetweenlands:boulder_sprite_living
            thebetweenlands:crumble
            thebetweenlands:dark_druid_living
            thebetweenlands:flying_fiend_living
            eyesinthedarkness:mob.eyes.laugh
         >
    }

}


