# Configuration file

general {
    I:TCPotionChance=5

    configtea {
        D:FocusedBuffBonus=0.800000011920929
        D:GreeblingBonus=0.5
        D:NearbyBlocksBonus=0.8999999761581421

        # Does the player need to have the thaumonomicon and scribing tools in their inventory?
        B:RequiresBookAndQuill=true
        D:SittingBonus=0.8999999761581421

        # Chance that tea gives research point
        I:TCPotionChance=100
        S:eventBonuses <
            heavy_rain,1.1
            auroras,0.9
         >
    }

}


