# Configuration file

general {
    I:TCPotionChance=5

    configtea {
        D:FocusedBuffBonus=0.800000011920929
        D:GreeblingBonus=0.5
        D:NearbyBlocksBonus=0.8999999761581421

        # Does the player need to have the thaumonomicon and scribing tools in their inventory?
        B:RequiresBookAndQuill=true
        D:SittingBonus=0.8999999761581421

        # Chance that tea gives research point
        I:TCPotionChance=100
        S:eventBonuses <
            heavy_rain,1.1
            auroras,0.9
         >
    }

    configgeneral {
        S:BarkAmuletBlocklist <
            gigaherz.eyes.entity.EntityEyes
         >
        I:BarrelFillWithWaterAmount=10
        I:BarrelFillWithWaterChance=300
        I:CrimsonCultSpawnRate=250
        B:DebugRecruitmentNames=false

        # fromDimension, toDimension, minHeight, maxHeight, targetX, targetY, targetZ
        S:DraetonDimension <
         >
        I:DungeonDimensionID=-500
        S:FluxItems <
            thebetweenlands:syrmorite_ore:0,pyrotech:generated_pile_slag_syrmorite:0
            thebetweenlands:octine_ore:0,pyrotech:generated_pile_slag_octine:0
            betweenores:aluminum_ore:0,pyrotech:generated_pile_slag_aluminum:0
            betweenores:copper_ore:0,pyrotech:generated_pile_slag_copper:0
            betweenores:lead_ore:0,pyrotech:generated_pile_slag_lead:0
            betweenores:nickel_ore:0,pyrotech:generated_pile_slag_nickel:0
            betweenores:silver_ore:0,pyrotech:generated_pile_slag_silver:0
            betweenores:tin_ore:0,pyrotech:generated_pile_slag_tin:0
         >
        S:FoodSicknessWhitelist <
            roots:cooked_pereskia
         >

        # Min: 0
        # Max: 9
        I:MaxPacifistForgiveness=5
        I:MothHouseProductionSpeed=500
        S:RecruitmentBlacklist <
            thaumcraft.common.entities.monster.cult.EntityCultistKnight
            thaumcraft.common.entities.monster.cult.EntityCultistPortalLesser
            thaumcraft.common.entities.monster.boss.EntityCultistPortalGreater
            thaumcraft.common.entities.monster.cult.EntityCultistCleric
            thaumcraft.common.entities.monster.boss.EntityCultistLeader
            thaumcraft.common.entities.monster.boss.EntityEldritchWarden
            thaumcraft.common.entities.monster.boss.EntityEldritchGolem
            thaumcraft.common.entities.monster.boss.EntityTaintacleGiant
            thaumcraft.common.entities.monster.EntityMindSpider
            thaumcraft.common.entities.monster.EntityEldritchGuardian
            thaumcraft.common.entities.monster.EntityEldritchCrab
            thaumcraft.common.entities.monster.EntityInhabitedZombie
            thaumcraft.common.entities.monster.EntityThaumicSlime
            thaumcraft.common.entities.monster.tainted.EntityTaintCrawler
            thaumcraft.common.entities.monster.tainted.EntityTaintacle
            thaumcraft.common.entities.monster.tainted.EntityTaintSwarm
            thaumcraft.common.entities.monster.tainted.EntityTaintSeed
            thaumcraft.common.entities.monster.tainted.EntityTaintSeedPrime
            com.seriouscreeper.bladditions.entities.GreeblingMerchantEntity
            com.shinoow.grue.common.entity.EntityGrue
         >
        S:RedstoneOreBlock=minecraft:redstone_ore
        I:SmokingRackRecipeModifier=6
        I:SulfurExplosionChance=5
        I:SulfurExplosionDamage=4
        I:WaterFilterAmount=1
        I:WaterFilterLootChance=200
        I:WaterFilterSpeed=50
    }

    configautomapping {
        B:AutoMapCragrockTower=true
        B:AutoMapGiantWeedwoodTree=true
        B:AutoMapIdolHeads=true
        B:AutoMapMenhir=true
        B:AutoMapSludgeon=true
        B:AutoMapSpiritTree=true
        B:AutoMapWightFortress=true
    }

    configsanity {
        D:sanity_chance_sounds <
            0.0
            0.0
            0.1
            0.6
            0.8
         >
        I:sanity_cooldown_sounds=400
        S:sanity_lightseeker_whitelist <
            arcanearchives:quartz_sliver
            thaumcraft:candle_lightblue
            thebetweenlands:bulb_capped_mushroom
            pyrotech:campfire
            betweenlandsredstone:scabyst_torch
            minecraft:torch
            thebetweenlands:sulfur_torch
            embers:glow
            roots:fey_light
         >
        S:sanity_sounds_list <
            thebetweenlands:wight_hurt
            thebetweenlands:wight_moan
            thebetweenlands:swamp_hag_living
            thebetweenlands:ambient_cave_spook
            thebetweenlands:ashsprite_living
            thebetweenlands:boulder_sprite_living
            thebetweenlands:crumble
            thebetweenlands:dark_druid_living
            thebetweenlands:flying_fiend_living
            eyesinthedarkness:mob.eyes.laugh
            minecraft:block.gravel.step
            minecraft:block.grass.step
         >
    }

    configbotania {
        D:DamageChakram=6.0
        I:ManaKekimurus=5000
        I:ManaNarslimmus=1200
        I:ManaSpectrolus=4800
    }

    configbloodmagic {

        "sentient armor" {
            D:attackSpeed <
                -0.02
                -0.04
                -0.06
                -0.08
                -0.1
                -0.12
                -0.14
                -0.16
             >
            D:damageBoost <
                0.01
                0.02
                0.03
                0.04
                0.05
                0.06
                0.07
                0.08
             >
            D:extraProtectionLevel <
                0.0
                0.08
                0.17
                0.2
                0.23
                0.25
                0.28
                0.3
             >
            D:knockbackBonus <
                0.2
                0.4
                0.6
                0.8
                1.0
                1.0
                1.0
                1.0
             >
            D:speedBonus <
                0.05
                0.1
                0.15
                0.2
                0.25
                0.3
                0.35
                0.4
             >
            D:steadfastProtectionLevel <
                0.08
                0.17
                0.2
                0.23
                0.25
                0.28
                0.3
                0.32
             >
        }

        "sentient shovel" {
            D:defaultDamage=3.0
            D:defaultDamageAdded <
                0.5
                1.0
                1.5
                1.75
                2.0
             >
            D:destructiveDamageAdded <
                1.0
                1.75
                2.0
                2.5
                3.0
             >
            D:steadfastDamageAdded <
                0.0
                0.25
                0.5
                0.75
                1.0
             >
            D:vengefulDamageAdded <
                0.0
                0.25
                0.5
                0.75
                1.0
             >
        }

        "sentient sword" {
            D:defaultDamage=5.0
            D:defaultDamageAdded <
                0.25
                0.5
                0.75
                1.0
                1.25
                1.5
                1.75
             >
            D:destructiveDamageAdded <
                0.4
                0.8
                1.2
                1.6
                2.0
                2.4
                2.8
             >
            D:steadfastDamageAdded <
                0.0
                0.2
                0.4
                0.6
                0.8
                1.0
                1.2
             >
            D:vengefulDamageAdded <
                0.0
                0.2
                0.4
                0.6
                0.8
                1.0
                1.1
             >
        }

        "sentient axe" {
            D:defaultDamage=9.0
            D:defaultDamageAdded <
                1.0
                1.5
                2.0
                2.5
                3.0
             >
            D:destructiveDamageAdded <
                1.2
                1.9
                2.6
                3.3
                4.0
             >
            D:steadfastDamageAdded <
                0.0
                0.5
                1.0
                1.5
                2.0
             >
            D:vengefulDamageAdded <
                0.0
                0.5
                1.0
                1.5
                2.0
             >
        }

        "sentient pickaxe" {
            D:defaultDamage=3.0
            D:defaultDamageAdded <
                0.5
                1.0
                1.5
                1.75
                2.0
             >
            D:destructiveDamageAdded <
                1.0
                1.5
                2.0
                2.5
                3.0
             >
            D:steadfastDamageAdded <
                0.0
                0.25
                0.5
                0.75
                1.0
             >
            D:vengefulDamageAdded <
                0.0
                0.25
                0.5
                0.75
                1.0
             >
        }

    }

    configthaumcraft {
        S:stageToUnlockThaumcraft=knowledge_of_spirit
        I:taintSlimeSpawnChance=300
        S:unnaturalHungerCures <
            minecraft:rotten_flesh
            thaumcraft:brain
            thebetweenlands:chiromaw_wing
            thebetweenlands:wight_heart
         >
    }

}


