# Configuration file

interactions {
    # Allow debarking in crafting tables. [default: true]
    B:debarkByRecipe=true

    # Allow debarking by right-clicking blocks with an axe. [default: true]
    B:debarkInWorld=true

    # Require shift-right-clicking for debarking in-world. [default: false]
    B:debarkInWorldRequiresShift=false
}


modsupport {
    # Format: blockId,property1,property2,etc
    S:extraDebarkedLogs <
    	thebetweenlands:log_weedwood
    	thebetweenlands:log_sap
    	thebetweenlands:log_rotten_bark
    	thebetweenlands:log_hearthgrove
    	thebetweenlands:log_nibbletwig
    	thebetweenlands:log_spirit_tree
    	thebetweenlands:giant_root
     >
}


