# Configuration file

ores {

    "vanilla redstone ore" {
        S:baseBlockTexture=blocks/redstone_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla quartz ore" {
        S:baseBlockTexture=blocks/quartz_ore
        S:underlyingBlockTexture=blocks/netherrack
    }

    "vanilla emerald ore" {
        S:baseBlockTexture=blocks/emerald_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla gold ore" {
        S:baseBlockTexture=blocks/gold_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla coal ore" {
        S:baseBlockTexture=blocks/coal_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla lapis ore" {
        S:baseBlockTexture=blocks/lapis_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla iron ore" {
        S:baseBlockTexture=blocks/iron_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla diamond ore" {
        S:baseBlockTexture=blocks/diamond_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "betweenlands sulfur ore" {
        S:baseBlock=thebetweenlands:sulfur_ore
        S:baseBlockTexture=thebetweenlands:blocks/sulfur_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands syrmorite ore" {
        S:baseBlock=thebetweenlands:syrmorite_ore
        S:baseBlockTexture=thebetweenlands:blocks/syrmorite_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands bone ore" {
        S:baseBlock=thebetweenlands:slimy_bone_ore
        S:baseBlockTexture=thebetweenlands:blocks/slimy_bone_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands octine ore" {
        S:baseBlock=thebetweenlands:octine_ore
        S:baseBlockTexture=thebetweenlands:blocks/octine_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands valonite ore" {
        S:baseBlock=thebetweenlands:valonite_ore
        S:baseBlockTexture=thebetweenlands:blocks/valonite_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands scabyst ore" {
        S:baseBlock=thebetweenlands:scabyst_ore
        S:baseBlockTexture=thebetweenlands:blocks/scabyst_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

}


