# Configuration file

ores {

    "betweenlands sulfur ore" {
        S:baseBlock=thebetweenlands:sulfur_ore
        S:baseBlockTexture=thebetweenlands:blocks/sulfur_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands syrmorite ore" {
        S:baseBlock=thebetweenlands:syrmorite_ore
        S:baseBlockTexture=thebetweenlands:blocks/syrmorite_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands bone ore" {
        S:baseBlock=thebetweenlands:slimy_bone_ore
        S:baseBlockTexture=thebetweenlands:blocks/slimy_bone_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands octine ore" {
        S:baseBlock=thebetweenlands:octine_ore
        S:baseBlockTexture=thebetweenlands:blocks/octine_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands valonite ore" {
        S:baseBlock=thebetweenlands:valonite_ore
        S:baseBlockTexture=thebetweenlands:blocks/valonite_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands scabyst ore" {
        S:baseBlock=thebetweenlands:scabyst_ore
        S:baseBlockTexture=thebetweenlands:blocks/scabyst_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands redstone ore" {
        S:baseBlock=betweenores:redstone_ore
        S:baseBlockTexture=betweenores:blocks/redstone_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands copper ore" {
        S:baseBlock=betweenores:copper_ore
        S:baseBlockTexture=betweenores:blocks/copper_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands lead ore" {
        S:baseBlock=betweenores:lead_ore
        S:baseBlockTexture=betweenores:blocks/lead_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands nickel ore" {
        S:baseBlock=betweenores:nickel_ore
        S:baseBlockTexture=betweenores:blocks/nickel_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands silver ore" {
        S:baseBlock=betweenores:silver_ore
        S:baseBlockTexture=betweenores:blocks/silver_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands aluminum ore" {
        S:baseBlock=betweenores:aluminum_ore
        S:baseBlockTexture=betweenores:blocks/aluminum_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands uranium ore" {
        S:baseBlock=betweenores:uranium_ore
        S:baseBlockTexture=betweenores:blocks/uranium_ore
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "betweenlands amber ore" {
        S:baseBlock=thaumcraft:ore_amber
        S:baseBlockTexture=thaumcraft:blocks/ore_amber
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/betweenstone

        baseblockproperties {
        }

    }

    "betweenlands cinnabar ore" {
        S:baseBlock=thaumcraft:ore_cinnabar
        S:baseBlockTexture=thaumcraft:blocks/ore_cinnabar
        I:retroGenID=0
        S:underlyingBlockTexture=thebetweenlands:blocks/pitstone

        baseblockproperties {
        }

    }

    "vanilla redstone ore" {
        S:baseBlockTexture=blocks/redstone_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla quartz ore" {
        S:baseBlockTexture=blocks/quartz_ore
        S:underlyingBlockTexture=blocks/netherrack
    }

    "vanilla emerald ore" {
        S:baseBlockTexture=blocks/emerald_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla gold ore" {
        S:baseBlockTexture=blocks/gold_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla coal ore" {
        S:baseBlockTexture=blocks/coal_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla lapis ore" {
        S:baseBlockTexture=blocks/lapis_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla iron ore" {
        S:baseBlockTexture=blocks/iron_ore
        S:underlyingBlockTexture=blocks/stone
    }

    "vanilla diamond ore" {
        S:baseBlockTexture=blocks/diamond_ore
        S:underlyingBlockTexture=blocks/stone
    }

}


