# Configuration file

general {
    I:EntityBat=1
    I:EntityBoulderSprite=1
    I:EntityChiromaw=1
    I:EntityChiromawGreeblingRider=1
    I:EntityDragonFly=1
    I:EntityFirefly=1
    I:EntityFrog=1
    I:EntityGecko=1
    I:EntityGreebling=1
    I:EntityLeech=1
    I:EntityLurker=1
    I:EntityShambler=1
    I:EntityStalker=1
    I:EntitySwampHag=1
    I:EntityTermite=1

    # Update Interval time for all burning EntityLiving, Arrows and Fireballs in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


