# Configuration file

general {
    I:EntityAngler=1
    I:EntityBat=1
    I:EntityBloodSnail=1
    I:EntityBoneWorm=1
    I:EntityBoulderSprite=1
    I:EntityBubblerCrab=1
    I:EntityChiromaw=1
    I:EntityChiromawGreeblingRider=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntityDragonFly=1
    I:EntityFirefly=1
    I:EntityFrog=1
    I:EntityGecko=1
    I:EntityGreebling=1
    I:EntityLeech=1
    I:EntityLurker=1
    I:EntityMireSnail=1
    I:EntityScarecrow=1
    I:EntityShambler=1
    I:EntitySiltCrab=1
    I:EntitySlime=1
    I:EntitySpider=1
    I:EntitySpiritTreeFaceLarge=1
    I:EntitySpiritTreeFaceSmall=1
    I:EntitySporeling=1
    I:EntityStalker=1
    I:EntitySwampHag=1
    I:EntitySwarm=1
    I:EntityTaintCrawler=1
    I:EntityTaintSeedPrime=1
    I:EntityTaintacle=1
    I:EntityTarBeast=1
    I:EntityTermite=1
    I:EntityThaumcraftGolem=1
    I:EntityWight=1
    I:EntityZombie=1
    I:EntityZombieFrozen=1
    I:EntityZombieMushroom=1
    I:"update Interval"=1000
}


