# Configuration file

general {
    I:EntityAncientGolem=0
    I:EntityAngler=0
    I:EntityBLArrow=0
    I:EntityBat=0
    I:EntityBetweenstonePebble=0
    I:EntityBlindCaveFish=0
    I:EntityBloodSnail=0
    I:EntityBoulderSprite=0
    I:EntityChicken=0
    I:EntityChiromaw=0
    I:EntityChiromawGreeblingRider=0
    I:EntityChiromawHatchling=0
    I:EntityChiromawMatriarch=0
    I:EntityClam=0
    I:EntityCreeper=0
    I:EntityCustomNpc=0
    I:EntityDimensionalFracture=0
    I:EntityDragonFly=0
    I:EntityEmberlingWild=0
    I:EntityEnderman=0
    I:EntityEvoker=0
    I:EntityFirefly=0
    I:EntityFrog=0
    I:EntityGasCloud=0
    I:EntityGecko=0
    I:EntityGiantToad=0
    I:EntityGreebling=0
    I:EntityGreeblingCorpse=0
    I:EntityGreeblingVolarpadFloater=0
    I:EntityHusk=0
    I:EntityIllusionIllager=0
    I:EntityItem=0
    I:EntityLeech=0
    I:EntityLurker=0
    I:EntityMireSnail=0
    I:EntityPeatMummy=0
    I:EntityPlayerSP=0
    I:EntityRabbit=0
    I:EntityRift=0
    I:EntityRifter=0
    I:EntityRootSprite=0
    I:EntityShambler=0
    I:EntitySheep=0
    I:EntitySiltCrab=0
    I:EntitySkeleton=0
    I:EntitySlime=0
    I:EntitySludge=0
    I:EntitySmollSludge=0
    I:EntitySpider=0
    I:EntitySporeling=0
    I:EntitySprout=0
    I:EntitySquid=0
    I:EntityStalker=0
    I:EntitySwampHag=0
    I:EntitySwarm=0
    I:EntityTarBeast=0
    I:EntityVindicator=0
    I:EntityWight=0
    I:EntityWitch=0
    I:EntityZombie=0
    I:EntityZombieVillager=0
    I:"update Interval"=1000
}


