# Configuration file

general {
    # Height below which defined fluids will be infinite.
    # Min: 0
    # Max: 255
    I:alwaysInfiniteBelow=0

    # Dimensions in which the defined fluids are always infinite.
    I:alwaysInfiniteDimensions <
     >

    # Block registry names for fluids that should be made infinite.
    S:finiteFluids <
        swamp_water
        thebetweenlands:swamp_water
     >

    # Biomes in which the fluids should be infinite.
    S:infiniteBiomes <
        minecraft:ocean
        minecraft:deep_ocean
        minecraft:beach
        minecraft:stone_beach
        minecraft:cold_beach
        minecraft:beaches
        minecraft:river
     >

    # Dimensions in which the fluids should be infinite.
    I:infiniteDimensions <
        0
     >

    # Maximum height in which fluids are infinite in the defined biomes / dimensions.
    # Min: 0
    # Max: 255
    I:maxHight=255

    # Minimum height in which fluids are infinite in the defined biomes / dimensions.
    # Min: 0
    # Max: 255
    I:minHeight=0
}


