# Configuration file

fluids {
    # The custom fluids that should be registered by this mod
    # name: the name of the fluid
    # levels: how many levels of the fluid should fit in one block (flow length)
    # bucket: should there be a bucket generated for this fluid?
    # [default: <
    # {"name":"example","levels":8,"bucket":true}
    # >]
    S:fluids <
        {"name":"armaniis","levels":8,"bucket":true}
        {"name":"azuwynn","levels":8,"bucket":true}
        {"name":"byariis","levels":8,"bucket":true}
        {"name":"byrginaz","levels":8,"bucket":true}
        {"name":"celawynn","levels":8,"bucket":true}
        {"name":"dayuniis","levels":8,"bucket":true}
        {"name":"fergalaz","levels":8,"bucket":true}
        {"name":"firnalaz","levels":8,"bucket":true}
        {"name":"freiwynn","levels":8,"bucket":true}
        {"name":"geoliirgaz","levels":8,"bucket":true}
        {"name":"ordaniis","levels":8,"bucket":true}
        {"name":"uduriis","levels":8,"bucket":true}
        {"name":"wodren","levels":8,"bucket":true}
        {"name":"yeowynn","levels":8,"bucket":true}
        {"name":"yunugaz","levels":8,"bucket":true}
        {"name":"yihinren","levels":8,"bucket":true}
     >
}


