# Configuration file

general {

    configdefault {
        S:defaultPacks <
            Record+Resources+of+Tea+the+Story+v3.3.0+.zip
            Modernity-format3-v3.9.1.zip
            Arcane Wormhole.zip
            Archaesium.zip
            Better Prodigy v1.3.zip
            Betweenlands Inventory V5.zip
            Thaum_pack.zip
         >
    }

}


