# Configuration file

all {
    # True if the Pallet block should be added to the game.
    B:addPallet=false

    # Items that are always ejected. F3+H to get names.
    S:alwaysEjectedItems <
        thebetweenlands:log_rotten_bark_carved_13
     >

    # Full Class path names of inventories that are checked for oversize items. Turn on debug log to get these names.
    S:checkedContainers <
        net.minecraft.inventory.ContainerChest
        blusunrize.immersiveengineering.common.gui.ContainerToolbox
        blusunrize.immersiveengineering.common.gui.ContainerCrate
        jds.bibliocraft.containers.ContainerFramedChest
        com.alcatrazescapee.notreepunching.common.container.ContainerLargeVessel
        charcoalPit.gui.ContainerCeramicPot
        com.aranaira.arcanearchives.inventory.ContainerRadiantChest
     >

    # Enable/Disable the debug logging of slots and container names.
    B:debugLog=false

    # Class name of slots that are never checked. Turn on debug log to get these names. Do not enter InventoryBasic slots here!
    S:ignoredSlots <
        net.minecraft.entity.player.InventoryPlayer
        net.minecraft.inventory.InventoryCrafting
        net.minecraft.inventory.InventoryCraftResult
        net.minecraft.entity.item.EntityMinecartChest
        thebetweenlands.common.inventory.InventoryWeedwoodWorkbenchResult
     >

    # Where the eject message is sent.
    # True = Action bar message. False = Chat Message.
    B:messageLocation=true

    # True if players should be notified about issues.
    B:messageSend=true

    # The message displayed in-game when items are ejected from the inventory.
    S:messageText=These items can not be stored in this!

    # Items that are never ejected. F3+H to get names.
    S:neverEjectedItems <
        .*:log_.*
        .*:.*_log
        .*:.*ingot.*
        .*:.*pickaxe.*
        .*:.*pick
        .*:.*helmet
        .*:.*helm
        .*:.*helmreveal
        .*:.*_head
        .*:.*_hood
        .*:.*_chestplate
        .*:.*_leggings
        .*:.*legs
        .*:.*boots
        .*:.*_shield
        .*:.*sword
        .*:.*_axe
        .*:.*_shovel
        .*:.*_knife
        .*:.*bow
        botania:.*chest
        bloodmagic:.*chest
        thebetweenlands:items_misc:11
        aetherworks:item_resource:4
        botania:manaresource:0
        botania:manaresource:4
        botania:manaresource:7
        botania:manaresource:14
        botania_tweaks:compressed_tiny_potato_8
        thebetweenlands:.*barrel
        aetheriumashenarmor:aetherium_ashen_cloak_chest
        thaumcraft:thaumium_chest
        thaumcraft:cloth_chest
        thaumcraft:fortress_chest
        thaumcraft:void_chest
        thaumcraft:void_robe_chest
        thaumcraft:crimson_plate_chest
        thaumcraft:crimson_robe_chest
        thaumcraft:crimson_praetor_chest
        thaumicredundancy:redundancy_chest
        botania:manasteelpick
        botania:manasteelaxe
        botania:elementiumpick
        botania:elementiumaxe
        botania:glasspick
        botania:terraaxe
        botania:manasteelshovel
        botania:elementiumshovel
        thebetweenlands:valonite_greataxe
        thebetweenlands:ancient_greatsword
        roots:runed_dagger
        roots:staff
        thebetweenlands:syrmorite_shears
        thebetweenlands:sickle
        thebetweenlands:wights_bane
        thebetweenlands:sludge_slicer
        thebetweenlands:critter_cruncher
        thebetweenlands:hag_hacker
        thebetweenlands:voodoo_doll
        thebetweenlands:simple_slingshot
        thebetweenlands:weedwood_fishing_rod
        thebetweenlands:fishing_spear
        thebetweenlands:fishing_spear_amphibious
        thebetweenlands:fishing_spear_amphibious_robust
        thebetweenlands:mist_staff
        thebetweenlands:shadow_staff
        thebetweenlands:net
        thebetweenlands:grappling_hook
        thebetweenlands:volarkite
        thebetweenlands:chirobarb_erupter
        thebetweenlands:chirobarb_shock_erupter
        thebetweenlands:skull_mask
        thebetweenlands:explorers_hat
        thebetweenlands:gem_singer
        botania:dirtrod
        botania:terraformrod
        botania:waterrod
        botania:rainbowrod
        botania:tornadorod
        botania:firerod
        botania:virus
        botania:skydirtrod
        botania:diviningrod
        botania:gravityrod
        botania:missilerod
        botania:cobblerod
        botania:smeltrod
        botania:exchangerod
        embers:pickaxe_clockwork
        embers:axe_clockwork
        thaumcraft:caster_basic
        thaumicaugmentation:gauntlet
        embers:grandhammer
        thaumicperiphery:caster_ember
        thaumicperiphery:caster_elementium
        embers:tyrfing
        embers:ignition_cannon
        embers:staff_ember
        embers:tinker_hammer
        pyrotech:bone_hammer
        pyrotech:gold_hammer
        pyrotech:obsidian_hammer
        pyrotech:diamond_hammer
        statues:hammer
        pyrotech:tongs_bone
        pyrotech:tongs_gold
        pyrotech:tongs_diamond
        pyrotech:tongs_obsidian
        thebetweenlands:weedwood
        thebetweenlands:giant_root
        arcanearchives:radiant_tank
        thebetweenlands:lurker_skin_pouch
        toolbelt:belt
        embers:brick_caminite
        embers:archaic_brick
        thebetweenlands:items_misc:10
        pyrotech:material:5
        pyrotech:material:16
        growthcraft_milk:cheese_aged
        growthcraft_milk:cheese_waxed
     >
}


