# Configuration file

all {
    # True if the Pallet block should be added to the game.
    B:addPallet=false

    # Items that are always ejected. F3+H to get names.
    S:alwaysEjectedItems <
        thebetweenlands:log_rotten_bark_carved_13
     >

    # Full Class path names of inventories that are checked for oversize items. Turn on debug log to get these names.
    S:checkedContainers <
        net.minecraft.inventory.ContainerChest
        blusunrize.immersiveengineering.common.gui.ContainerToolbox
        blusunrize.immersiveengineering.common.gui.ContainerCrate
        jds.bibliocraft.containers.ContainerFramedChest
        com.alcatrazescapee.notreepunching.common.container.ContainerLargeVessel
        charcoalPit.gui.ContainerCeramicPot
        thebetweenlands.common.inventory.container.ContainerPouch
        thebetweenlands.common.inventory.container.ContainerWeedwoodWorkbench
        com.aranaira.arcanearchives.inventory.ContainerRadiantChest
        com.daeruin.basketcase.inventory.ContainerBasket
     >

    # Enable/Disable the debug logging of slots and container names.
    B:debugLog=true

    # Class name of slots that are never checked. Turn on debug log to get these names. Do not enter InventoryBasic slots here!
    S:ignoredSlots <
        net.minecraft.entity.player.InventoryPlayer
        net.minecraft.inventory.InventoryCrafting
        net.minecraft.inventory.InventoryCraftResult
        net.minecraft.entity.item.EntityMinecartChest
        thebetweenlands.common.inventory.InventoryWeedwoodWorkbenchResult
     >

    # Where the eject message is sent.
    # True = Action bar message. False = Chat Message.
    B:messageLocation=true

    # True if players should be notified about issues.
    B:messageSend=true

    # The message displayed in-game when items are ejected from the inventory.
    S:messageText=These items can not be stored in this!

    # Items that are never ejected. F3+H to get names.
    S:neverEjectedItems <
        .*:log_.*
        .*:.*_log
        .*:.*ingot.*
        .*:.*pickaxe.*
        .*:.*pick
        .*:.*helmet
        .*:.*helm
        .*:.*helmreveal
        .*:.*_head
        .*:.*_hood
        .*:.*_chestplate
        botania:.*chest
        bloodmagic:.*chest
        thebetweenlands:items_misc:11
        aetherworks:item_resource:4
        botania:manaresource:0
        botania:manaresource:4
        botania:manaresource:7
        botania:manaresource:14
        botania_tweaks:compressed_tiny_potato_8
        thebetweenlands:.*barrel
        aetheriumashenarmor:aetherium_ashen_cloak_chest
     >
}


