# Configuration file

general {
    S:"Blocked Message"=An access crystal is required to cross dimensions
    S:"Consumable Portal Block Whitelist"=thebetweenlands:tree_portal

    # Right Click item on Portal Rather than Craft [default: false]
    B:"Consume item rather than craft"=true
    S:"Crafted Items"=contenttweaker:access_crystal
    S:"Crafted Message"=Access to dimension granted.
    S:"Dimension IDs"=20
    S:"Dimension Names"=Betweenlands

    # Teleports player to Spawn or their bed when trying to enter a End portal [default: true]
    B:"Prevent End Portal Death"=true
}


